/* <><><><><><> General Styling <><><><><><> */

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* overflow: hidden; */
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover{
    color: skyblue;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

* {border: 2px solid red;}


/* <><><><><><> End of General Styling <><><><><><> */





/* <><><><><><> Start of Styling for Header <><><><><><> */



/* 
Makes 2 big boxes in the header using flexbox: 
1. nav (for logo and links at top)
    - Has 2 small boxes inside itself
        i) logo (for the div containing the logo)
        ii) header-links (for the unordered list with extra links)

2. rest-of-header (the rest of the header that isn't nav) 
    - Has 2 smaller boxes inside itself
        i) title-and-info (has the div containing the title, the div containing a small blurb, and the div containing a sign up link)
        ii) img (has a parachute img video on it)
*/

header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

nav {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: space-around;
    flex-grow: 1;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    gap: 16px;
    align-self: center;
    color: #E5E7EB;
    font-size: 18px;
}

.rest-of-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-and-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #E5E7EB;
}

.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 1000;
}

.sign-up {
    background-color: #3882F6;
    flex-grow: 1;
}

.title-and-info .sign-up a{
    font-size: 18px;
    color: #E5E7EB;
}

.title-and-info .sign-up a:hover{
    color: skyblue;
}

.rest-of-header img {
    min-width: 300px;
    flex: auto;
}



/* <><><><><><> End of Styling for Header <><><><><><> */





/* <><><><><><> Start of Styling for Main <><><><><><> */



main {
    display: flex;
    flex-direction: column;
}



/* <><><><><><> End of Styling for Main <><><><><><> */





/* <><><><><><> Start of Styling for Footer <><><><><><> */



footer {
    display: flex;
    flex-direction: column;
}



/* <><><><><><> End of Styling for Footer <><><><><><> */

