/* <><><><><><> General Styling <><><><><><> */

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

a {
    color: aqua;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover{
    color: skyblue;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* <><><><><><> End of General Styling <><><><><><> */





/* <><><><><><> Start of Styling for Header <><><><><><> */



/* 
Makes 2 big boxes in the header using flexbox: 
1. nav (for logo and links at top)
    - Has 2 small boxes inside itself
        i) logo (for the div containing the logo)
        ii) header-links (for the unordered list with extra links)

2. rest-of-header (the rest of the header that isn't nav) 
    - Has 2 smaller boxes inside itself
        i) title-and-info (has the div containing the title, the div containing a small blurb, and the div containing a sign up link)
        ii) img (has a parachute img video on it)
*/

header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 8px 52px 0 52px;
    height: 245px;
    flex: auto;
    justify-content: center;
}

nav {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    flex: auto;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    height: 30px;
    font-weight: bold;
}

ul {
    display: flex;
    gap: 16px;
    color: #E5E7EB;
    font-size: 18px;
    margin-left: auto;
}

.rest-of-header {
    display: flex;
    flex: auto;
}

.title-and-info {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #E5E7EB;
    height: 160px;
    flex: auto;
}

.page-title {
    display: flex;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 1000;
    width: 450px;
}

.header-text {
    display: flex;
    width: 450px;
    flex-wrap: wrap;
    flex: auto;
}

.sign-up {
    background-color: #3882F6;
    width: 100px;
    height: 50px;
    text-align: center;
}

.title-and-info .sign-up a{
    font-size: 18px;
    color: #E5E7EB;
}

.title-and-info .sign-up a:hover{
    color: skyblue;
}

.rest-of-header img {
    height: 160px;
    width: auto;
    flex: auto;
}



/* <><><><><><> End of Styling for Header <><><><><><> */





/* <><><><><><> Start of Styling for Main <><><><><><> */

.middle {
    display: flex;
    flex-direction: column;
    flex: auto;
    height: 331px;
}

.section-title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    align-self: center;
    margin-top: 12px;
    flex: auto;
}

.illustrations {
    display: flex;
    gap: 16px;
    justify-content: center;
    height: 100px;
    flex: auto;
}

.picture {
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: center;
    align-items: center;
    border-color: red;
    border-width: 4px;
}

.picture div {
    height: 90px;
    width: 90px;
    align-items: center;
    flex-grow: 1;
    text-align: center;
}

.testimonial {
    display: flex;
    background-color: #E5E7EB;
    flex: auto;
    height: 65px;
    justify-content: center;
    align-content: center;
}

.bottom-sign-up-box {
    display: flex;
    height: 100px;
    flex: auto;
    justify-content: center;
    align-items: center;

}

.bottom-sign-up {
    flex: auto;
}

.sign-up {
    display: flex;
    justify-content: center;
    gap: 16px;
    height: 20px;
    border-radius: 5px;
    border: 1px;
    border-color: white;
    flex: auto;
}



/* <><><><><><> End of Styling for Main <><><><><><> */





/* <><><><><><> Start of Styling for Footer <><><><><><> */



footer {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
    flex: auto;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 50px;
}



/* <><><><><><> End of Styling for Footer <><><><><><> */

